<<<<<<< HEAD
.white{

	position: fixed;
	z-index: 999;
	margin-top: -60px;
}

.parallax-container{

	margin-top: 60px;
}

*{

	font-family: roboto;
}
h1{

	color: #fff;
}

@keyframes esquerda{


	from{ margin-left: -500px}
	to{ margin-left: 0px}
}


@keyframes direita{


	from{ margin-left: -500px}
	to{ margin-left: 0px}
}


.titulo{

	color: #f7f7f7;
}

.barra{

	width: 5px;
	float: left;
	margin-right: 15px;
	margin-top: 10px;
}

.sobre-tit{

	font-size: 40px;
	color: #00ac4e;
	font-family: roboto light;
}


.team{

	height: 200px;
	margin-top: 50px;
}

.team img{

	width: 80%;
}

.diferencial{

	color: #3f55a5;
}

.fazemos{

	margin-top: 30px;
}

.irule{

	background-color: red;
	height: 400px;
	box-shadow: 0px 10px 30px -10px #000;
	background-image: url("../quadradamulher.jpg");
}

.solucao{

	background-color: blue;
	height: 400px;
	box-shadow: 0px 10px 30px -10px #000;
	background-image: url("../sizenew.jpg");
}

.textos{

	margin-top: 310px;
	color: #f7f7f7;
	font-family: roboto light;
}

.textos a{

	font-style: normal;
	text-decoration: none;
	color: #f7f7f7;
}



iframe{

	width: 100%;
	height: 300px;
	box-shadow: 0px 10px 40px 0px #000;

}

.page-footer{

	background-color: #1a1a1a;
=======
.white{

	position: fixed;
	z-index: 999;
	margin-top: -60px;
}

.parallax-container{

	margin-top: 60px;
}

*{

	font-family: roboto;
}
h1{

	color: #fff;
}

@keyframes esquerda{


	from{ margin-left: -500px}
	to{ margin-left: 0px}
}


@keyframes direita{


	from{ margin-left: -500px}
	to{ margin-left: 0px}
}


.titulo{

	color: #f7f7f7;
}

.barra{

	width: 5px;
	float: left;
	margin-right: 15px;
	margin-top: 10px;
}

.sobre-tit{

	font-size: 40px;
	color: #00ac4e;
	font-family: roboto light;
}


.team{

	height: 200px;
	margin-top: 50px;
}

.team img{

	width: 80%;
}

.diferencial{

	color: #3f55a5;
}

.fazemos{

	margin-top: 30px;
}

.irule{

	background-color: red;
	height: 400px;
	box-shadow: 0px 10px 30px -10px #000;
	background-image: url("../quadradamulher.jpg");
}

.solucao{

	background-color: blue;
	height: 400px;
	box-shadow: 0px 10px 30px -10px #000;
	background-image: url("../sizenew.jpg");
}

.textos{

	margin-top: 310px;
	color: #f7f7f7;
	font-family: roboto light;
}

.textos a{

	font-style: normal;
	text-decoration: none;
	color: #f7f7f7;
}



iframe{

	width: 100%;
	height: 300px;
	box-shadow: 0px 10px 40px 0px #000;

>>>>>>> 5e6fec945281618877328ccb1a9abcddd38d6743
}